@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ToDo App's</h1>

    <p>
        This is a test playground to try out different frameworks in my free time.
        Select a framework from the menu drop down or the list below.
    </p>
</div>
