@page "/react"

<h3>React</h3>

<div id="app"></div>

<AddScript Source="https://unpkg.com/react@16/umd/react.production.min.js" />
<AddScript Source="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" />
<AddScript Source="https://unpkg.com/babel-standalone@6/babel.min.js" />
<AddScript Source="js/react.js" Type="text/babel" />
